:root {
  --basic_green: #68B738;
  --basic_green-2: #5EAA2F;
  --basic_black: #000000;
  --basic_grey: #F2F2F2;
  --basic_white: #ffffff;
  --special_grey: #CDCDCD;
  --special_grey-2: #EBEBEB;
  --special_grey-3: #666666;
  --special_dark-grey: #444444;
  --special_darl-grey-2: #222222;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic_black);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

/*header*/

.main-header {
  min-height: 690px;
  margin-bottom: 82px;
  background-image: url('../img/Новый\ проект.jpg');
  background-repeat: no-repeat;
  background-position: top right;
}

.main-header__wrapper-top {
  display: flex;
  padding: 53px 0 0 0;
  /* background-color: var(--basic_green); */
}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}

.main-navigation {
  padding: 16px 0 0 0;
  margin-left: auto;
}

.site-navigation {
  display: flex;
  gap: 15px 32px;
}

.site-navigation__link {
  color: var(--basic_white);
  text-transform: uppercase;
}

.main-header__wrapper-bottom {
  padding: 114px 0 0 80px;
}

.main-header__title {
  margin: 0 0 40px 0;
  max-width: 414px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

.main-header__subtitle {
  margin: 0 0 52px 0;

  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-header__link {
  display: inline-block;
  padding: 14px 26px;
  color: var(--basic_white);
  text-transform: uppercase;
  background-color: var(--basic_green);
}

.main-header__link:hover {
  background-color: var(--basic_green-2);
}

.main-header__link:active {
  color: #8ec26d;
}
